.TweetStats {

    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
}

.TweetStats .Detail {

    display: flex;
}

.TweetStats .Detail .RTs {

    display: flex;
    margin-right: 20px;
}

.TweetStats .Detail .Likes {

    display: flex;
    margin-right: 20px;
}

.TweetStats p {

    margin-right: 5px;
}

.TweetStats hr {

    border-color: gray;
    width: 100%;
}