.TweetContent {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 50%;
}

.TweetContent .Content p {

    color: white;
    font-size: 24px;
}

.TweetContent .Date {

    display: flex;
}

.TweetContent .Date .DateTime {

    color: gray;
    margin-right: 10px;
}

.TweetContent .Date .Location {

    color: #36AAF7;
}

.TweetContent hr {

    border-color: gray;
    width: 100%;
}